body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

button {
	margin: 20px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#map {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
